<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%=Message.find(@message_field.message_id).name %>
</p>

<p>
  <b>Conceptual field:</b>
  <%=ConceptualField.find(@message_field.conceptual_field_id).name %>
</p>

<p>
  <b>Name:</b>
  <%= @message_field.name %>
</p>

<p>
  <b>Projection:</b>
  <%= @message_field.projection %>
</p>

<%= link_to 'Edit', edit_message_field_path(@message_field) %> |
<%= link_to 'Back', message_fields_path %>
