<%= form_for(@conceptual_field) do |f| %>
  <% if @conceptual_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conceptual_field.errors.count, "error") %> prohibited this conceptual_field from being saved:</h2>

      <ul>
      <% @conceptual_field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :datatype %><br />
    <%= f.text_field :datatype %>
  </div>
  <div class="field">
    <%= f.label :conceptual_entity_id %><br />
    <%= f.number_field :conceptual_entity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
